{% extends "base.html" %}

{% block content %}
<section class="hero">
    <h1>Bienvenido a Bapesu AI</h1>
    <p>Descubre herramientas inteligentes para transformar tus proyectos. | 100% GRATIS</p>
    <a href="#tools" class="btn">Explorar herramientas</a>
</section>

<section id="tools" class="tools">
    <h2>Nuestras herramientas 🧰</h2>
    <div class="tool-list">
        <a href="/removebg" class="tool-card">
            <h3>Remover Fondo de imagen 🤓</h3>
            <p>Automatiza la creación de contenido de manera rápida y eficiente, Elimina el fondo gratis.</p>
        </a>
        <div class="tool-card">
            <h3>Generar Imagen a 3D STL</h3>
            <p>Muy pronto...</p>
        </div>
        <div class="tool-card">
            <h3>Redacta tus post facil</h3>
            <p>Muy pronto...</p>
        </div>
    </div>
</section>

<section id="about" class="about">
    <h2>Sobre mí</h2>
    <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Jhon Perez">
    <p>Hola, soy Jhon Perez Emprendedor y desarrollador de software, el creador de Bapesu AI, apasionado por la inteligencia artificial 
        y las soluciones innovadoras. <br> Estas herramientas son con el fin de permitir que emprendedores puedan acceder a herramientas gratuitas de IA.</p>
    <div class="social">
        <span>Instagram:</span> 
        <a href="https://www.instagram.com/johnbayronp" target="_blank">@johnbayronp</a>
    </div>
    <strong>¡Gracias por visitar! - Sacale el jugo </strong>
    <!-- Botón de invitación a un café -->
    <div class="coffee-invitation">
        <p>Si te gusta lo que hago,  <a href="https://www.paypal.com/paypalme/JPerezSuarez?country.x=CO&locale.x=es_XC" target="_blank" class="coffee-btn">¡invítame a un café! ☕</a></p>
    </div>
</section>

<style>
    .coffee-invitation {
        margin-top: 20px;
        text-align: center;
    }

    .coffee-btn {
        padding: 8px 16px; 
        background-color: green; 
        color: white; 
        border-radius: 50px; 
        font-size: 16px; 
        font-weight: bold; 
        display: inline-block; 
        text-decoration: none; 
        transition: transform 0.3s ease, box-shadow 0.3s ease; 
    }

    .coffee-btn:hover {
        background-color: #2b6b9b;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    }
</style>
{% endblock %}
